.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.homeHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.homeHeader a{
    margin-right: 30px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 15px;
}
.homeHeader a:hover{
    text-decoration: underline;
}
.home_headerRight{
    display: flex;
    align-items: center;
    min-width: 16vh;
    justify-content: space-between;
}
.home_headerRight > .MuiSvgIcon-root{
    margin-right: 20px;
}
.homeBody{
    flex: 1;
    display:flex ;
    /* margin-top: 18%; */
    flex-direction: column;
}
.homeBody > img{
    object-fit: contain;
    height: 38vh;
}